@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-surface: #f7f9fb;
  --color-surface-bright: #f7f9fb;
  --color-secondary-fixed: #6ffbbe;
  --color-tertiary: #70000c;
  --color-surface-container-low: #f2f4f6;
  --color-surface-container-high: #e6e8ea;
  --color-primary-fixed-dim: #b8c4ff;
  --color-outline: #757684;
  --color-on-primary-container: #a8b8ff;
  --color-surface-container-lowest: #ffffff;
  --color-on-tertiary-container: #ffa39c;
  --color-on-primary-fixed-variant: #173bab;
  --color-primary-fixed: #dde1ff;
  --color-inverse-surface: #2d3133;
  --color-inverse-on-surface: #eff1f3;
  --color-on-secondary: #ffffff;
  --color-secondary-container: #6cf8bb;
  --color-on-surface: #191c1e;
  --color-on-secondary-container: #00714d;
  --color-primary-container: #1e40af;
  --color-on-tertiary-fixed-variant: #930013;
  --color-tertiary-fixed-dim: #ffb3ad;
  --color-on-error: #ffffff;
  --color-on-surface-variant: #444653;
  --color-on-secondary-fixed: #002113;
  --color-tertiary-fixed: #ffdad7;
  --color-primary: #00288e;
  --color-on-tertiary-fixed: #410004;
  --color-secondary-fixed-dim: #4edea3;
  --color-on-background: #191c1e;
  --color-background: #f7f9fb;
  --color-secondary: #006c49;
  --color-tertiary-container: #9b0015;
  --color-on-primary: #ffffff;
  --color-surface-tint: #3755c3;
  --color-outline-variant: #c4c5d5;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-on-primary-fixed: #001453;
  --color-on-tertiary: #ffffff;
  --color-surface-container: #eceef0;
  --color-surface-container-highest: #e0e3e5;
  --color-on-secondary-fixed-variant: #005236;
  --color-surface-variant: #e0e3e5;
  --color-surface-dim: #d8dadc;
  --color-inverse-primary: #b8c4ff;
  --color-on-error-container: #93000a;
  --color-green-accent: #10b981;
  --color-green-accent-hover: #059669;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--color-surface);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
}

.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
